:host {
  /deep/ {
    .mat-form-field {
      width: 100%;
    }
  }
}

.dialog-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.dialog-top {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  &__close {
    cursor: pointer;
    &:hover {
      font-weight: bold;
    }
  }
}

.dialog-content {
  margin: 25px 0;

  &__inputs {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    &--field {
      width: 100%;
      position: relative;
    }
  }
}

.dialog-buttons {
  display: flex;
  font-size: 14px;
  justify-content: flex-end;
}
