
.book-list-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px 50px;
}

.books-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 60px;

  .create {
    button {
      width: 150px;
    }
  }
}

.book-list {
  display: flex;
  margin: 5px;
  padding: 10px;
  width: 300px;
  outline: none;
  border: 1px solid #cccc;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 2px 15px 0 rgba(0, 0, 0, 0.2);
  }

  &__item {
    padding: 10px;
    width: 300px;
    outline: none;

    &--name,
    &--author,
    &--genre,
    &--action,
    &--pageAmount {
      margin: 5px 0;
      .title {
        font-weight: 500;
      }
    }

    &--action {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      button {
        width: 35%;
        font-size: 12px;
      }
      .see-more {
        margin: 10px 0;
        outline: none;
        cursor: pointer;
        &:hover {
          font-weight: 500;
        }
      }
    }
  }
}

@media all and (max-width: 768px) {
  .book-list {
    width: 100%;
    &__item {
      width: 100%;
    }
  }
}

@media all and (max-width: 400px) {
  .book-list {
    width: 200px;
  }
  .book-list-wrapper,
  .books-header {
    justify-content: center;
  }
}
