
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.notInputRequired {
  color: red;
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 11px;
  top: 75%
}
